/* ------ Style for css-demo ------*/
/*  ---------------Box Sizing-----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*----Utility Classes----*/

img {
  max-width: 100%;
  height: auto;
}

/*-----Utility Classes---*/

.container {
  max-width: 80vw;
  margin: 40px auto;
}

.img-right {
  float: right;
  margin: 10px 0 10px 20px;
  border: 3px dotted #0e2618;
  padding: 5px;
  background-color: #5c735d;
}

.img-left {
  float: left;
  margin: 10px 0 10px 20px;
  border: 3px dotted #0e2618;
  padding: 5px;
  background-color: #5c735d;
}

.img-center {
  display: block;
  margin: 20px auto;
  border: 3px dotted #0e2618;
  padding: 5px;
  background-color: #5c735d;
}

/* --------Global Styles------*/
body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  background-image: url(../img/945615001567-R1-003.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
header.primary {
  background-color: #5c735d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

header.primary h1 {
  font-size: 2.4rem;
  margin: 20px 0 10px;
  /* T, L+R, B */
}

header.primary h1 a {
  color: #ffffff;
  text-decoration: none;
}

header.primary h2 {
  font-size: 1.4rem;
  margin: 0;
}

header.primary nav {
  max-width: 900px;
  margin: 20px auto;
  /*will fit any screensize left-to-right*/
}

header.primary nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
}

header.primary nav ul li {
  list-style-type: none;
}

header.primary nav ul li a {
  color: #ffffff;
  text-decoration: none;
  background-color: #000000;
  padding: 5px 10px;
  /* T+B, L+R*/
  border: 5px groove #00060d;
  border-radius: 5px 10px;
  opacity: 0.6;
  transition: 1s;
}

header.primary nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#intro {
  border-bottom: 5px solid #0e2618;
  padding-bottom: 14px;
}

#intro h2 {
  color: #5c735d;
  border-bottom: 5px dotted #5c735d;
}

#content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#content .post {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  padding: 10px;
  border-radius: 8px;
  font-size: 0.8rem;
}

#content article.post:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
}

article.post figure {
  margin: 0;
}

article.post time.post-date,
article.post figcaption,
article.post .post-meta {
  text-transform: uppercase;
  color: #0e2618;
}

article.post a {
  color: #5c735d;
}

article.post a:hover {
  text-decoration: none;
}

article.post img {
  border: 3px solid #0e2618;
  padding: 2px;
  margin: 10px auto;
}

#practice h2 {
  color: #5c735d;
  border-bottom: 3px dotted #0e2618;
}

table {
  border: 3px solid #0e2618;
  width: 100%;
  border-collapse: collapse;
}

caption {
  font-weight: bold;
  margin: 5px;
}
tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.2);
}
th {
  background-color: #5c735d;
  padding: 10px;
}
td {
  border: 1px solid #c0c0c0;
  padding: 5px;
}
td:nth-child(n + 2) {
  text-align: right;
}

#practice ol {
  clear: both;
  list-style-type: roman;
}

#practice ul {
  list-style-type: "\1F44D";
}

dl {
  width: 50%;
  background: #5c735d;
  margin: auto;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0;
}

dd + dt {
  margin-top: 20px;
}

#practice h4 {
  border-left: 8px solid #5c735d;
  padding: 5px 10px;
}

#practice blockquote {
  padding: 60px 8px 40px;
  position: relative;
  font-family: "Utopia-italic";
}

#practice blockquote cite {
  display: block;
  text-align: right;
  font-size: 0.8rem;
  margin-top: 5px;
}

aside[role="complementary"] {
  background-color: #5c735d;
  padding: 1.9rem;
}

aside .container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

aside .container a {
  color: #ffffff;
  display: block;
  text-align: right;
  font-size: 0.9rem;
  margin-top: 20px;
}

aside footer {
  display: none;
  /*-----Hides selected element----*/
}

#colophon {
  background-color: #5c735d;
  padding: 10px;
  color: #fff;
  text-align: center;
}

/*-------Media Queries------*/

@media screen and (max-width: 600px) {
  header.primary nav ul {
    flex-direction: column;
    max-width: 250px;
    margin: auto;
  }

  header.primary nav ul a {
    display: block;
  }

  #content {
    flex-direction: column;
  }

  #content img {
    display: block;
    margin: auto;
  }
}
