/* Color Theme  
#373740 
#5D6273 
#9298A6
#BACDD9
#DCEAF2
*/

/* ---------------Box Sizing----------------- */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}


body {
  background-color: #DCEAF2;
  color: #373740;
  font-family: 'Fira Sans', sans-serif;
}

header {
  background-color: #BACDD9;
  padding: 20px;
  text-align: center;
}

header.primary h1 a {
  color: #ffffff;
  background-image: url("https://assets.codepen.io/7248/logo-2.png");
  display: block;
  width: 400px;
  height: 70px;
  margin: 0 auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

nav ul {
  background-color: #5D6273;
  list-style-type: none;
}

nav a {
  color: #DCEAF2;
  text-decoration: none;
}

section#content {
  border: 2px solid #9298A6;
  padding: 20px;
  margin: 20px 0;
}

section#articles {
  background-color: #BACDD9;
  color: #373740;
  padding: 20px;
  margin: 20px 0;
}

article.post {
  background-color: #DCEAF2;
  border: 2px solid #9298A6;
  padding: 20px;
  margin: 20px 0;
}

.img-center {
  width: 100%;
  display: block;
  margin: 0 auto;
}

aside {
  background-color: #5D6273;
  color: #DCEAF2;
  padding: 20px;
  margin: 20px 0;
}

footer#colophon {
  background-color: #373740;
  color: #DCEAF2;
  padding: 10px;
  text-align: center;
}