/* Apply color schemes */
body {
  background-color: #373740;
  color: #DCEAF2;
  font-family: 'Fira Sans', sans-serif;
}

header {
  background-color: #5D6273;
  padding: 20px;
  text-align: center;
}

header.primary h1 {
  color: #DCEAF2;
  background-image: url("https://assets.codepen.io/7248/logo-2.png");
  display: block;
  width: 400px;
  height: 70px;
  margin: 0 auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

header h2 {
  color: #DCEAF2;
}

nav ul {
  background-color: #9298A6;
  list-style: none;
  padding: 0;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #373740;
  padding: 10px;
  display: inline-block;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

nav a:hover {
  background-color: #BACDD9;
  color: #373740;
}

section {
  margin: 20px;
}

h2 {
  color: #BACDD9;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #9298A6;
  color: #373740;
}

th, td {
  border: 1px solid #DCEAF2;
  padding: 12px;
  text-align: left;
}

tfoot {
  background-color: #5D6273;
  color: #DCEAF2;
}

footer {
  background-color: #373740;
  color: #DCEAF2;
  padding: 10px;
  text-align: center;
}
